.bxslider-wrapper{
    max-width:100% !important;
    width: 100%;
    background-repeat: no-repeat;
    height: 900px;
    overflow:hidden ;

}
.bx-viewport{
    height: 100%;
}
.slider-1{
    background-repeat: no-repeat;
    backface-visibility: hidden;
    display: table;
    float: left;
    height: 100%;
    width: 100%;
}
.slider-1 img{
    width:100%;
    background-repeat: no-repeat;
    height: 100%;
}
.slider-1 div{
    width: 100%;
    height:100%;
}

.blog-entry .bx-controls{
    display: none;
}
.bx-controls{
    display: none;
}